* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
}

article {
    width: 1000px;
    margin: 40px auto;
    padding: 20px 150px 60px;
    background-color: aliceblue;
    box-shadow: 0 0 16px rgba (0, 0, 0, 0.7);
}
#main {
    border: 2px solid #ddd;
}
h1, h2, h3 {
    font-family: "Century Gotthic", monospace;
}

#logo {
    float: left;
}

#slogans {
    float: right;
    font-size: .7rem;
    text-align: right;
    color: #909090;
    width: 30%;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear:both
}

.align-left {
    float: left;
    margin-right: 15px;
    }

.align-right {
    float: right;
    margin-left: 15px;
    }

.block {
    padding: 30px;
}

#main img {
    height: 100px
}

.block:nth-child(odd) {
    background-color: #f8f8f8;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
}

#main {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

.clearfix::before, .clearfix::after,
.block::before, .block::after { 
    content: "";
    display: table;
}

.clearfix::before, .block::after { 
    clear: both;
}